h1 {
	color: black;
	font-size: 50px;
	margin-bottom: 0px;
}

h3 {
	font-style: italic;
	color: rgb(0,160,60);
	margin-top: 0px;
}

.btn.btn-default.know-it {
	font-size: 12px;
	color: green;
	padding: 3px;
	margin-left: 2px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn.btn-default.say-it {
	font-size: 12px;
	color: green;
	padding: 3px;
	margin-left: 2px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn-primary.active {
	background-color: white;
	border-color: none;
	color: black;
	font-size: 12px;
	font-weight: 500px;
}

.btn-group>.btn:first-child, .dropdown-menu>li>a {
	float: right;
}

.logo img {
	height: 35px;
}


.picture img {
	margin-top: 0;
	width: 150px;
	height: 100px;
}


.logo {
	text-align: center;
}

.btn-lg {
	float: left;
	font-weight: 100;
	font-size: 12;
	line-height: 1.5;
	padding: 5px 5px;
}

.button-right {
	float: right;
	font-weight: 100;
	font-size: 12px;
	line-height: 1.5;
}

.text-center audio {
	margin-top: 5px;
}


